<%= link_to 'Nova', new_issue_slip_path  %>


<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-x-auto">
        <table class="min-w-full">
          <thead class="border-b">
            <tr>
              <th scope="col" class="text-sm w-4 font-medium text-gray-900 px-6 py-1 text-left">
                #
              </th>
              <th scope="col" class="text-sm w-32 font-medium text-gray-900 px-6 py-1 text-left">
                Број на Испратница
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-1 text-left">
                Купувач
              </th>
              <th scope="col" class="text-sm w-32 font-medium text-gray-900 px-6 py-1 text-left">
                Датум
              </th>
              <th scope="col" class="text-sm w-32 font-medium text-gray-900 px-6 py-1 text-left">
                Фактура број
              </th>
              <th scope="col" class="text-sm w-32 font-medium text-gray-900 px-6 py-1 text-left">
                Опции
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render 'shared/documents/documents', documents: @issue_slips, pdf_view: true, issue_slip: true %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
