<%= link_to 'Nova', new_invoice_path  %>
<div class="overflow-x-auto">
  <table class="min-w-full">
    <thead class="border-b">
      <tr>
        <th scope="col" class="text-sm w-4 font-medium text-gray-900 px-6 py-1 text-left">
          #
        </th>
        <th scope="col" class="text-sm w-32 font-medium text-gray-900 px-6 py-1 text-left">
          Број на Фактура
        </th>
        <th scope="col" class="text-sm w-full font-medium text-gray-900 px-6 py-1 text-left">
          Купувач
        </th>
        <th scope="col" class="text-sm w-32 font-medium text-gray-900 px-6 py-1 text-left">
          Датум на Фактура
        </th>
        <th scope="col" class="text-sm w-32 font-medium text-gray-900 px-6 py-1 text-right">
          Износ
        </th>
        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-1 text-center">
          Опции
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render 'shared/documents/documents', documents: @invoices, pdf_view: true %>
    </tbody>
  </table>
</div>
