<% @products.each do |p| %>
  <li class="hover:bg-sky-300 p-2" role="option" data-autocomplete-value="<%= p.id %>" data-autocomplete-label="<%= p.display_name %>">
    <%= p.display_name %>
  </li>
<% end %>
