  <header id="page-header" class="flex flex-none items-center h-16 bg-white shadow-sm fixed top-0 right-0 left-0 z-30 lg:pl-64">
    <div class="flex justify-between container xl:max-w-7xl mx-auto px-4 lg:px-8">
      <!-- Left Section -->
      <div class="flex items-center space-x-2">
        <!-- Toggle Sidebar on Desktop -->  
        <div class="hidden lg:block">
          <button type="button" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-3 py-2 leading-6 rounded border-gray-300 bg-white text-gray-800 shadow-sm hover:text-gray-800 hover:bg-gray-100 hover:border-gray-300 hover:shadow focus:ring focus:ring-gray-500 focus:ring-opacity-25 active:bg-white active:border-white active:shadow-none">
            <svg class="hi-solid hi-menu-alt-1 inline-block w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"/></svg>
          </button>
        </div>
        <!-- END Toggle Sidebar on Desktop -->

        <!-- Toggle Sidebar on Mobile -->
        <div class="lg:hidden">
          <button type="button" class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-3 py-2 leading-6 rounded border-gray-300 bg-white text-gray-800 shadow-sm hover:text-gray-800 hover:bg-gray-100 hover:border-gray-300 hover:shadow focus:ring focus:ring-gray-500 focus:ring-opacity-25 active:bg-white active:border-white active:shadow-none">
            <svg class="hi-solid hi-menu-alt-1 inline-block w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"/></svg>
          </button>
        </div>
        <!-- END Toggle Sidebar on Mobile -->

      </div>
      <!-- END Left Section -->

      <!-- Right Section -->
      <div class="flex items-center space-x-2">
        <!-- User Dropdown -->
        <div data-controller="dropdown" class="relative inline-block">
          <!-- Dropdown Toggle Button -->
          <button
            type="button"
            class="inline-flex justify-center items-center space-x-2 border font-semibold focus:outline-none px-3 py-2 leading-5 text-sm rounded border-gray-300 bg-white text-gray-800 shadow-sm hover:text-gray-800 hover:bg-gray-100 hover:border-gray-300 hover:shadow focus:ring focus:ring-gray-500 focus:ring-opacity-25 active:bg-white active:border-white active:shadow-none"
            id="tk-dropdown-layouts-user"
            aria-haspopup="true"
            aria-expanded="true"
            data-action="dropdown#toggle"
          >
            <span>Админ</span>
            <svg class="hi-solid hi-chevron-down inline-block w-5 h-5 opacity-50" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>
          </button>
          <!-- END Dropdown Toggle Button -->

          <!-- Dropdown -->
          <!-- 
            Visibility
              Closed        'hidden'
              Opened        '' (no class)

            Show/Hide with transitions
              enter         'transition ease-out duration-150'
              enter-start   'transform opacity-0 scale-75'
              enter-end     'transform opacity-100 scale-100'
              leave         'transition ease-in duration-100'
              leave-start   'transform opacity-100 scale-100'
              leave-end     'transform opacity-0 scale-75'
          -->
          <div data-dropdown-target="menu" role="menu" aria-labelledby="tk-dropdown-layouts-user" class="absolute right-0 origin-top-right mt-2 w-48 shadow-xl rounded z-1 hidden">
            <div class="bg-white ring-1 ring-black ring-opacity-5 rounded divide-y divide-gray-100">
              <div class="p-2 space-y-1">
                <a role="menuitem" href="javascript:void(0)" class="flex items-center space-x-2 rounded py-2 px-3 text-sm font-medium text-gray-600 hover:bg-gray-100 hover:text-gray-700 focus:outline-none focus:bg-gray-100 focus:text-gray-700">
                  <svg class="hi-solid hi-lock-closed inline-block w-5 h-5 opacity-50" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"/></svg>
                  <span>Одјави се</span>
                </a>
              </div>
            </div>
          </div>
          <!-- END Dropdown -->
        </div>
        <!-- END User Dropdown -->
      </div>
      <!-- END Right Section -->
    </div>
  </header>